name: Lint & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: leafo/gh-actions-lua@v10
        with:
          luaVersion: "5.1"

      - uses: leafo/gh-actions-luarocks@v5

      - name: Install dependencies
        run: |
          luarocks install luacheck
          luarocks install busted

      - name: Run Luacheck
        run: luacheck kong

      - name: Run Unit Tests
        run: busted spec/unit
